<!--Embed the header.html template at this location-->
{{ template "header.html" . }}

<div class="main-block">
    <h1>Weight Application</h1>
    <form action="/" method="POST" name="addWeight">
      <hr>
      <input type="hidden" id="weightRecordId" name="weightRecordId" value="{{ .weightRecordId }}">
      <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
      <input type="date" name="date" id="date" placeholder="Date" value={{ .date }} required/>
      <br/>
      <br/>
      <label id="icon" for="name"><i class="fas fa-user"></i></label>
      <input type="number" name="max" id="max" placeholder="Max" value={{ .max }} required/>
      <br/>
      <br/>
      <label id="icon" for="name"><i class="fas fa-user"></i></label>
      <input type="number" name="min" id="min" placeholder="Min" value={{ .min }} required/>
      <br/>
      <br/>
      <hr>
      <div class="btn-block">
        <button type="submit" href="/">Submit</button>
      </div>
    </form>
    <ul>
      {{ range .data }}
        <li style="margin-right: 20px;">
          <a href="/weights/{{ .WeightRecordId }}">
            <h4>Date: {{.Date}}</h4>
          </a>
          <p name="WeightRecordId">ID: {{ .WeightRecordId }}</p>
          <p name>Max: {{ .Max }}</p>
          <p>Min: {{ .Min }}</p>
          <p>Differences: {{ .Differences }}</p>
        </li>
      {{end}}
    </ul>    
  </div>

 

<!--Embed the footer.html template at this location-->
{{ template "footer.html" . }}